<mat-card>
  <mat-chip-list>
    <mat-chip color="accent" [selected]="allSelected" (click)="toggleAll()">{{ 'FAV.ALL' | translate}}</mat-chip>
    <mat-chip *ngFor="let tag of tags" [selected]="tag.selected" (click)="toggleTag(tag.name)">{{tag.name}}</mat-chip>
  </mat-chip-list>
</mat-card>
<mat-card>
  <ng-container *ngIf="founded.length > 0; else selectTags">
    <p *ngFor="let book of founded"><a routerLink="/book/{{book.id}}">{{book.title}}</a>
      (
      <ng-container *ngFor="let t of book.tags; last as last">
        <span>{{t}}</span><span *ngIf="!last">, </span>
      </ng-container>
      )
    </p>
  </ng-container>
  <ng-template #selectTags>
    {{ 'FAV.SELECT_SOME_TAGS' | translate}}
  </ng-template>
</mat-card>
