.small-menu {
    max-height: 0px;
    visibility: hidden;
    transition-property: max-height visibility;
    transition-duration: 0.5s;
}

.small-menu.visible {
    max-height: 100vh;
    visibility: visible;
    transition-property: max-height visibility;
    transition-duration: 0.5s;
}

.small-menu .lang {
    visibility: hidden;
}

.small-menu.visible .lang {
    visibility: visible;
}

.lang {
    margin-left: 20px;
}